<div class="register_container">
    <div class="white_circle"></div>
  
    <div class="card form_container">
      <h3>Change Password</h3>
      <form *ngIf="form_data_1" [formGroup]="form_data_1">
  
        <div>
          <label>Old Password</label>
          <input type="password" name="oldPassword" class="form-control" formControlName="oldPassword" />
          <p *ngIf="form_data_1.get('oldPassword')?.touched && form_data_1.get('oldPassword')?.invalid" class="err">
            Password must contain 8 characters including 1 number, 1 special character, and 1 capital letter
          </p>
        </div>
  
        <div>
          <label>New Password</label>
          <input type="password" name="newPassword" class="form-control" formControlName="newPassword" />
          <p *ngIf="form_data_1.get('newPassword')?.touched && form_data_1.get('newPassword')?.invalid" class="err">
            Password must contain 8 characters including 1 number, 1 special character, and 1 capital letter
          </p>
        </div>
  
        <div>
          <label>Confirm Password</label>
          <input type="password" name="confirmPassword" class="form-control" formControlName="confirmPassword" />
          <p *ngIf="form_data_1.hasError('passwordMismatch')" class="err">
            Confirm password should be same as new password
          </p>
        </div>
  
        <button class="btn btn-primary" (click)="changePassword()">Change password</button>
      </form>
    </div>
  </div>
  