
<button class="hamburger" (click)="toggleSidebar()">
  <mat-icon class="side_ic">menu</mat-icon>
</button>


<div class="sidebar-container" [ngClass]="{'show-sidebar': showSidebar}">
  <div class="ah-sidebar">
    <mat-list role="list" class="sidebar-list disp">
      <mat-list-item role="listitem" class="items"><a href="apply-leave"><span class="icon-space"><mat-icon class="side_ic"> send</mat-icon></span>Apply Leave</a></mat-list-item>
      <mat-list-item role="listitem" class="items"><a href="my-leaves"><span><img src="../../assets/time_to_leave.png" class="side_icc" width="20px" height="20px"/></span>My Leaves</a></mat-list-item>
      <mat-list-item role="listitem" class="items"><a href="leave-request"><span class="icon-space"><img class="side_icc" src="../../assets/@.png" width="20px" height="20px"/></span> Leave Requests</a></mat-list-item>
      <mat-list-item role="listitem" class="items"><a href="augusta-family"><span class="icon-space"><mat-icon class="side_ic">group</mat-icon></span> Family</a></mat-list-item>
      <mat-list-item role="listitem" class="items"><a href="augusta-holiday"><span class="icon-space"><mat-icon class="side_ic">temple_hindu</mat-icon></span> Augusta Holidays</a></mat-list-item>
      <mat-list-item role="listitem" class="items"><a href="my-profile"><span class="icon-space"><mat-icon class="side_ic">account_circle</mat-icon></span> My Profile</a></mat-list-item>
      <mat-list-item role="listitem" class="items"><a href="change-password"><span class="icon-space"><mat-icon class="side_ic">key</mat-icon></span> Change password</a></mat-list-item>
      <mat-list-item role="listitem" class="items"><span class="icon-space"><button mat-raised-button (click)="openDialog()"><mat-icon class="side_ic">logout</mat-icon>Logout</button></span> </mat-list-item>
    </mat-list>
  </div>

</div>
<!-- -->

<!-- <button><mat-icon class="side_ic">logout</mat-icon>Logout</button> -->