/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.custom-toast {
    width: 300px !important;
    height: 50px !important;
    max-width: 100%;
    padding: 15px;
    margin-left: 30%;
    background-color: rgb(112, 190, 246) !important;
  }