<div class="register_container">
    <div class="white_circle"></div>
    <div class="img_con">
        <img src="../../assets/logo.png" width="350px" height="250px" />
    </div>
    <div class="card form_container">
        <h3>Sign In</h3>
        <form *ngIf="form_data_1" [formGroup]="form_data_1">
            <div>
                <label>Email</label>
                <input type="email" name="email" class="form-control" formControlName="email" />
                <p *ngIf="form_data_1.get('email')?.touched && form_data_1.get('email')?.invalid " class="err">
                    Enter a valid email from the augusta.com domain
                </p>
            </div>
            <div>
                <label>Password</label>
                <input type="password" name="password" class="form-control" formControlName="password" />
                <p *ngIf="form_data_1.get('password')?.touched && form_data_1.get('password')?.invalid " class="err">
                    Password must contain 8 characters including 1 number, 1 special character, and 1 capital letter
                </p>
            </div>
            <div>
                <p style="text-align: center; margin-top: 20px;">Create a account? <a href="register">SignUp</a></p>
            </div>
            <button  class="btn btn-primary" (click)="login(id)">continue</button>
        </form>
    </div>
</div>
